<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NESTING</title>
    <link rel="stylesheet" href="/css/main.css">
    <!-- <link rel="stylesheet" href="/css/app.css"> -->
</head>
<body>
    <div class="container">
        <section class="main">
            <div class="main-heading">
                <h1>HALLO WPU</h1>
            </div>
            <div class="main-paragraph">
                <p style="flex-grow: 3;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa veniam facere autem veritatis voluptatibus, quisquam omnis eveniet tempora nihil repudiandae. At iure aperiam distinctio mollitia harum, quis odio, minima ut illum totam officiis nesciunt odit quas quo temporibus sed sint?</p>
                <p style="flex-grow: 9;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nesciunt.</p>
            </div>
        </section>
        
        <footer class="footer">
            <div class="footer-heading">
                <h1>footer</h1>
            </div>
            <div class="footer-paragraph">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, corporis.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam consectetur fugit maiores doloribus molestias tenetur, earum soluta cum quo totam?</p>
            </div>
        </footer>
    </div>
</body>
</html>