<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Produk</title>
</head>
<body>
    <h1 class="judul">All Produk</h1> 
    <a href="products/create">Create</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for (const product of products) { %>
                <tr>
                    <td><%= product.name %></td>
                    <td>
                        <a href="products/<%= product._id %>">Show</a>
                        <a href="products/<%= product._id %>/edit">Edit</a>
                        <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete Product</button>
                        </form>
                    </td>
                  
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>
